.CenterIntroduction-compo {
    
    width: 87%;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        animation: fadeInUp 1s ease-out;
        max-width: 1200px;
        margin: 40px auto;
        padding: 0 15px;

    }

    .heading h2 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 2rem;
        color: #333;
    }

    /* .center-intro-container {
        animation: fadeInUp 1s both;
        animation-delay: 0.1s;
    } */

    .center-intro-txt {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .center-intro-txt h5 {
        margin-top: 0;
    }

    .center-intro-txt p {
        color: #666;
        line-height: 1.6;
    }

    .center-intro-txt b {
        color: #ED6C01;
        font-weight: bold;
    }

    .img-fluid {
        width: 100%;
        height: auto;
        display: block;
        margin: 20px auto;
    }

    .text-center {
        text-align: center;
    }

    .headerCenter{
        animation: fadeInUp 1s ease-out;
        padding-top: 30px;
        display: flex;
        justify-content: center;
    }
}
