.rental-compo {
    background: #fff;
    padding: 20px;
    width: fit-content;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
}

.rental-compo-in {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.rental-compo-in h1 {
    text-align: center;
    color: #333;
    background-color: #fff;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    border-bottom: 2px solid #ccc;
}

.rental-compo-in form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rental-compo-in label {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.rental-compo-in input[type="text"],
.rental-compo-in input[type="number"],
.rental-compo-in input[type="datetime-local"],
.rental-compo-in textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.rental-compo-in input[type="radio"] {
    margin-right: 10px;
}

.rental-compo-in .facility-guide-wrapper {
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
}

.rental-compo-in button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    align-self: center;
    width: 150px;
}

.rental-compo-in button:hover {
    background: #0056b3;
}
