/* Rental.css */
.rental-compo .rental-compo-in {
    max-width: 600px;
    margin: 20px auto;
    padding-right: 245px;
    background-color: #E6E6FA;
    border-radius: 8px;
}

.rental-compo .rental-compo-in form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}


.rental-compo .labelwidth {
    display: flex;
    flex-direction: row;
}

.rental-compo .rental-compo-in input[type="text"],
.rental-compo .rental-compo-in input[type="number"],
.rental-compo .rental-compo-in input[type="date"],
.rental-compo .rental-compo-in textarea {
    padding: 8px;
    margin-top: 5px;
}

.rental-compo .rental-compo-in input[type="radio"] {
    margin-right: 10px;
}

/*.rental-compo .rental-compo-in button {*/
/*    padding: 10px 15px;*/
/*    background-color: #007bff;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*    width: 300px;*/
/*    margin-left: 250px;*/
/*}*/

.rental-compo .rental-compo-in button:hover {
    background-color: #0056b3;
}
.rental-compo .rental-compo-in .h1center {
    text-align: center;
    margin-left: 250px;
}
