/*버튼 스타일*/

.btn, .btn-two {
    margin: 9px;
}

a[class*="btn"] {
    text-decoration: none;
}

input[class*="btn"],
button[class*="btn"] {
    border: 0;
}


/* Colors for .btn and .btn-two */
.btn.blue, .btn-two.blue {
    background-color: #7fb1bf;
}

.btn.green, .btn-two.green {
    background-color: #9abf7f;
}

.btn.red, .btn-two.red {
    background-color: #fa5a5a;
}

.btn.purple, .btn-two.purple {
    background-color: #cb99c5;
}

.btn.cyan, .btn-two.cyan {
    background-color: #7fccde;
}

.btn.yellow, .btn-two.yellow {
    background-color: #f0d264;
}

.rounded {
    border-radius: 10px;
}

/* Button two - I have no creativity for names */
.btn-two {
    color: white;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-bottom-color: rgba(0, 0, 0, 0.34);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset,
    0 2px 0 -1px rgba(0, 0, 0, 0.13),
    0 3px 0 -1px rgba(0, 0, 0, 0.08),
    0 3px 13px -1px rgba(0, 0, 0, 0.21);
}

.btn-two:active {
    top: 1px;
    border-color: rgba(0, 0, 0, 0.34) rgba(0, 0, 0, 0.21) rgba(0, 0, 0, 0.21);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.89), 0 1px rgba(0, 0, 0, 0.05) inset;
    position: relative;
}

Button {
    border: 0;
    background-color: transparent;
}