.Header-compo * {
    margin: 0;
    padding: 0;
    border: 0;
    word-break: keep-all;
    font-style: inherit;
    box-sizing: border-box;
    font-weight: 400;
    letter-spacing: -0.05em;
    text-size-adjust: none;
    line-height: 1.6;
}

.Header-compo {
    width: 100%;
}

.Header-compo #gnb_wrap {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-bottom: 1px solid rgb(180, 180, 180);
}

.Header-compo #gnb_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

.Header-compo .logo-container {
    position: absolute;
    left: 15px;
    width: 12%;
}

.Header-compo .logo-img {
    width: 100%;
    position: absolute;
    top: -22px;
    height: auto;
}

.Header-compo .login-container {
    position: absolute;
    right: 5%;
}

.Header-compo .login-img {
    position: absolute;
    top: -25px;
    width: fit-content;
    height: 50px;
    object-fit: contain;
}
.Header-compo .search-icon {
    position: absolute;
    right: 6%;
    top: 30px;
}
.Header-compo .searchImage {
    width: 40px;
    height: 40px;

}
.Header-compo .search-dropdown {
    position: absolute;
    top: 101px;
    right: 100px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
    display: flex;
    gap: 10px;
    width: 400px;
    background-color: #fff;
}

.Header-compo .search-dropdown input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 330px;
}

.Header-compo .search-dropdown button {
    padding: 5px 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.Header-compo .search-dropdown button:hover {
    background-color: #414141;
}

.Header-compo .gnb_1dul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    position: absolute;
}

.Header-compo .gnb_1dli {
    width: 200px;
}

.Header-compo .gnb_1da {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: large;
    transition: color 0.2s ease;
    text-align: center;
    width: 100%;
}

.Header-compo .gnb_1da:hover {
    color: #007bff;
}

.Header-compo .gnb_2dul_container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    padding: 20px 0;
    border-bottom: 1px solid rgb(180, 180, 180);
}

.Header-compo #gnb_2dul {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    gap: 40px;
}

.Header-compo .gnb_2dcol {
    width: 200px;
    position: relative;
    text-align: center;
}

.Header-compo .gnb_2dcol:before {
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
    
    width: 0;
}

.Header-compo .gnb_2dcol:first {
    border-left: none;
}

.Header-compo .gnb_2dtitle {
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}

.Header-compo .gnb_2dul {
    margin: 0;
    padding: 0;
}

.Header-compo .gnb_2dli {
    margin: 0;
    padding: 0;
}

.Header-compo .gnb_2da {
    width: 200px;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: color 0.2s ease;
}

.Header-compo .gnb_2da:hover {
    background-color: rgb(230, 245, 255);
    
}

.login-dropdown {
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2000;
    right: -70px;
    top: 25px;
    white-space: nowrap;
}

.login-dropdown a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.login-dropdown a:hover {
    background-color: #f0f0f0;
}

.Header-compo .hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 30px;
    margin-right: auto;
}

.Header-compo .mobile-menu {
    display: none;
    top: 50px;
    left: 0;
    width: 250px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 2000;
    transition: all 500ms ease-in-out;
}

.Header-compo .mobile-menu-list {
    list-style: none;
    margin: 0;
    padding: 20px;
}

.Header-compo .mobile-menu-item {
    margin-bottom: 15px;
}

.Header-compo .mobile-menu-main {
    font-weight: bold;
    color: #007bff;
    display: block;
    padding: 10px 0;

}

.Header-compo .mobile-sub-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

.Header-compo .mobile-sub-menu-item {
    margin: 0;
    padding: 0;
}

.Header-compo .mobile-sub-menu-item:hover {
    background-color: rgb(240, 255, 250);
}

.Header-compo .mobile-sub-menu-item a {
    display: block;
    padding: 8px 0;
    text-decoration: none;
    color: #666;
}

.Header-compo .mobile-sub-menu-item a:hover {
    color: #007bff;
}



@media (max-width: 1600px) {
    .Header-compo .login-dropdown {
        right: 30px;
    }

    .Header-compo #gnb_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 50px;
    }

    .Header-compo .gnb_1dul,
    .Header-compo .gnb_2dul_container {
        display: none;
    }

    .Header-compo .logo-container {
        grid-column: 2;
        position: relative;
        left: 0;
        top: 0;
        display: block;
        justify-self: center;
        width: fit-content;
    }

    .Header-compo .logo-img {
        width: fit-content;
        position: relative;
        height: 50px;
        top: 0;
    }

    .Header-compo .hamburger-menu {
        grid-column: 1;
        margin-left: 15px;
        display: block;
        position: absolute;
    }

    .Header-compo .login-container {
        grid-column: 3;
        position: relative;
        display: flex;
        top: -7px;
        left: 0;
    }

    .Header-compo .login-img {
        display: flex;
        right: 10px;
        top: -22.5px;
        width: fit-content;
    }

    .Header-compo .mobile-menu {
        display: block;
    }

    .Header-compo .search-icon{
        right: 70px;
        top: 4px;
    }

    .Header-compo .search-dropdown{
        display: flex;
        flex-direction: row;
        position: absolute;
        height: fit-content;
        top: 50px;
        width: 100%;
        right: 0;
        justify-content: center;
        border: none;
    }

    .Header-compo .search-dropdown form{
        display: flex;
        flex-direction: row;
        
    }
}