/* App.css */

.SignUpSelect-compo {
  display: flex;
  margin: 50px 0;
}

.SignUpSelect-compo .left-section, .right-section {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.SignUpSelect-compo h2 {
  margin-bottom: 20px;
}

.SignUpSelect-compo .go-button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
}

.SignUpSelect-compo .logo-box {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.SignUpSelect-compo .logo-box img {
    width: 250px;
    height: 250px;
}

.SignUpSelect-compo .left-section {
  animation: fadeInRight 1s ease-in-out;
}

.SignUpSelect-compo .right-section {
  animation: fadeInLeft 1s ease-in-out;
  background-size: cover;
  background-position: center;
}

/* 추가 스타일링 (선택사항) */
.SignUpSelect-compo .container {
  margin-top: 50px; /* 섹션을 페이지 상단으로부터 50px 내립니다. */
}

.SignUpSelect-compo .left-section, .right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2); /* 섹션에 그림자 효과를 추가합니다. */
  border-radius: 10px; /* 섹션의 모서리를 둥글게 만듭니다. */
  padding: 150px 0;
  margin: 10px
}

.SignUpSelect-compo .go-button:hover {
  background-color: #0056b3; /* 버튼에 마우스를 올렸을 때 색상 변경 */
}
