/* App.css 또는 원하는 CSS 파일에 추가합니다.
    해빈이가 바꿨다고 머지할때 확인하래
 */

.CreateNotice-compo .create-notice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.CreateNotice-compo .form-group {
    margin-bottom: 15px;
}

.CreateNotice-compo .form-group label {
    margin-right: 10px;
}

.CreateNotice-compo input[type="text"],
input[type="radio"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.CreateNotice-compo button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.CreateNotice-compo button:hover {
    background-color: #0056b3;
}

.CreateNotice-compo .react-quill {
    width: 500px; /* 에디터 폭 조절 */
    margin-top: 15px;
}
