.pagination-copo {
    .button {
        padding: 8px 16px;
        margin: 5px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .button:hover {
        background-color: #0056b3;
    }

    .button:disabled {
        background-color: #000000;
        cursor: not-allowed;
    }

    .button-next {
        background-color: #000000;
    }

    .button-next:hover {
        background-color: #5f5f5f;
    }
}
