/* MemberList.css */

.MemberList-compo table {
  width: 100%;
  border-collapse: collapse;
}

.MemberList-compo thead {
  background-color: #f2f2f2;
}

.MemberList-compo th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.MemberList-compo tr:nth-child(even) {
  background-color: #f2f2f2;
}

.MemberList-compo tr:hover {
  background-color: #dddddd;
}

/* Adjustments for responsive design */
@media screen and (max-width: 600px) {
  .MemberList-compo table {
    border: 0;
  }

  .MemberList-compo table thead {
    display: none;
  }

  .MemberList-compo table tr {
    margin-bottom: 10px;
    display: block;
    border: 1px solid #ddd;
  }

  .MemberList-compo table td {
    display: block;
    text-align: right;
  }

  .MemberList-compo table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
