.ReservationConfirmation-compo {
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 3% 5%;
    margin: 0 auto;
}

.ReservationConfirmation-compo h2 {
    color: #333;
    text-align: center;
}

.ReservationConfirmation-compo table {
    width: 100%;
    border-collapse: collapse;
}

.ReservationConfirmation-compo th,
.ReservationConfirmation-compo td {
    border: 1px solid #ddd;
    padding: 8px;
}

.ReservationConfirmation-compo th {
    background-color: #f2f2f2;
    color: #333;
}

.ReservationConfirmation-compo tr:nth-child(even) {
    background-color: #f2f2f2;
}

.ReservationConfirmation-compo tr:hover {
    background-color: #ddd;
}

.ReservationConfirmation-compo td button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

/* 상태에 따른 스타일링 */
.status-신청 {
    color: orange;
}

.status-검토중 {
    color: blue;
}

.status-승인 {
    color: green;
}

.status-거부 {
    color: red;
}
  