.SiteManagement-compo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SiteManagement-compo table {
  width: 100%;
  border-collapse: collapse;
}

.SiteManagement-compo thead {
  background-color: #f2f2f2;
}

.SiteManagement-compo th,
.SiteManagement-compo td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.SiteManagement-compo tr:nth-child(even) {
  background-color: #f2f2f2;
}

.SiteManagement-compo td {
  width: 300px;
  height: 150px;
}

.SiteManagement-compo td:nth-child(1) {
  width: 150px;
}

.SiteManagement-compo td:nth-child(5),
.SiteManagement-compo td:nth-child(6),
.SiteManagement-compo td:nth-child(7),
.SiteManagement-compo td:nth-child(8) {
  width: 50px;
  text-align: center;
}


.SiteManagement-compo tr:hover {
  background-color: #dddddd;
}

/* Adjustments for responsive design */
@media screen and (max-width: 600px) {
  .SiteManagement-compo table {
    border: 0;
  }

  .SiteManagement-compo table thead {
    display: none;
  }

  .SiteManagement-compo table tr {
    margin-bottom: 10px;
    display: block;
    border: 1px solid #ddd;
  }

  .SiteManagement-compo table td {
    display: block;
    text-align: right;
  }

  .SiteManagement-compo table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}

.SiteManagement-compo .management-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SiteManagement-compo .management-button .de-active {
    width: 200px;
    margin: 0 10px;
    padding: 8px 16px;
    background-color: #55cdff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.SiteManagement-compo .management-button .de-active:hover {
    background-color: #3389e6;
}

.SiteManagement-compo .management-button .active {
    width: 200px;
    margin: 0 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.SiteManagement-compo .management-button .active:hover {
    background-color: #0056b3;
}


.SiteManagement-compo .add-button {
     grid-column: 3;
     width: 100%;
     display: flex;
     justify-content: flex-end;
     align-items: center;
 }

 .SiteManagement-compo h3 {
     grid-column: 1;
 }

.SiteManagement-compo .middle-box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.SiteManagement-compo .main-img,
.SiteManagement-compo .banner,
.SiteManagement-compo .popup {
    width: 100%;
}

.SiteManagement-compo img {
    width: 100%;
    height: 100%;
}

.SiteManagement-compo .hidden {
    display: none;
}

.SiteManagement-compo .pagination {
  margin-top: 20px;
  grid-column: 2;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SiteManagement-compo .pagination button {
  padding: 8px 16px;
  margin: 0 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.SiteManagement-compo .pagination button:hover {
  background-color: #0056b3;
}

.SiteManagement-compo .pagination button:disabled {
  background-color: #ddd;
  color: #666;
  cursor: not-allowed;
}

.SiteManagement-compo .size-label {
  padding-top: 10px;
  font-size: 13px;
}

.SiteManagement-compo input[type="number"] {
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 35px;
}

.SiteManagement-compo {

    /* 모달 스타일 */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .modal-content p {
    margin-bottom: 20px;
  }

  .modal-content div {
    display: flex;
    flex-direction: row;

  }

}