.SiteManagement-compo {
  margin: 100px 0;
  width: 87%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;

    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    thead {
      background-color: #f2f2f2;
    }
    
    th,
    td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    
    td {
      width: 300px;
      height: 150px;
    }
    
    td:nth-child(1) {
      min-width: 150px;
      max-width: 150px;
    }
    
    td:nth-child(5),
    td:nth-child(6),
    td:nth-child(7),
    td:nth-child(8) {
      min-width: 90px;
      max-width: 90px;
      text-align: center;
    }
    
    
    tr:hover {
      background-color: #dddddd;
    }
    
    /* Adjustments for responsive design */
    @media screen and (max-width: 600px) {
      table {
        border: 0;
      }
    
      table thead {
        display: none;
      }
    
      table tr {
        margin-bottom: 10px;
        display: block;
        border: 1px solid #ddd;
      }
    
      table td {
        display: block;
        text-align: right;
      }
    
      table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
      }
    }
    
    .management-button {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .management-button .de-active {
        width: 200px;
        margin: 0 10px;
        padding: 8px 16px;
        background-color: #55cdff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .management-button .de-active:hover {
        background-color: #3389e6;
    }
    
    .management-button .active {
        width: 200px;
        margin: 0 10px;
        padding: 8px 16px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .management-button .active:hover {
        background-color: #0056b3;
    }
    
    
    .add-button {
         grid-column: 3;
         width: 100%;
         display: flex;
         justify-content: flex-end;
         align-items: center;
     }
    
     h3 {
         grid-column: 1;
     }
    
    .middle-box {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
    
    .main-img,
    .banner,
    .popup {
        width: 100%;
    }
    
    img {
        width: 100%;
        height: 100%;
    }
    
    .hidden {
        display: none;
    }
    
    .pagination {
      margin-top: 20px;
      grid-column: 2;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .pagination button {
      padding: 8px 16px;
      margin: 0 5px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .pagination button:hover {
      background-color: #0056b3;
    }
    
    .pagination button:disabled {
      background-color: #ddd;
      color: #666;
      cursor: not-allowed;
    }
    
    .size-label {
      padding-top: 10px;
      font-size: 13px;
    }
    
    input[type="number"] {
      margin-left: 10px;
      margin-right: 10px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 35px;
    }

    .already,
    .notyet,
    .end {
      font-weight: bold;
      text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.8), -1px -1px 1px rgba(0, 0, 0, 0.8);
    }

    .already {
      color: rgb(0, 255, 0);
    }

    .notyet {
      color: rgb(255, 255, 0);
    }
    
    .end {
      color: red;
    }


  /* 모달 스타일 */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .modal-content p {
    margin-bottom: 20px;
  }

  .modal-content div {
    display: flex;
    flex-direction: row;

  }
}

