.VisualAssetManager-compo {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.VisualAssetManager-compo h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.VisualAssetManager-compo form {
  display: flex;
  flex-direction: column;
}

.VisualAssetManager-compo label {
  text-align: start;
  margin-bottom: 10px;
}

.VisualAssetManager-compo input,
.VisualAssetManager-compo select,
.VisualAssetManager-compo textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.VisualAssetManager-compo button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.VisualAssetManager-compo button:hover {
  background-color: #0056b3;
}

.VisualAssetManager-compo {
  width: 30%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.VisualAssetManager-compo .head {
  display: grid;
  align-items: center;
  justify-items: end;
}

.VisualAssetManager-compo .head h2 {
  grid-column: 1;
  text-align: center;
}

.VisualAssetManager-compo .head .Button-compo {
  grid-column: 2;
}

