.Startup-info {
    width: 87%;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;

    .block {
        animation: fadeInUp 1s ease-out;
        margin-top: 3%;
        width: 95%;
    }
    
    .title h1 {
        font-size: 2.5em;
        color: #333;
        margin-bottom: 20px;
        border-bottom: 3px solid #ff6f61;
        padding-bottom: 10px;
    }
    
    .box h3 {
        font-size: 1.5em;
        color: #333;
        background: #ffebcd;
        padding: 20px;
        border-left: 6px solid #ff6f61;
        margin-bottom: 30px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    
    .Recruitment {
        animation: fadeInUp 1s ease-out;
        width: 95%;
        margin-bottom: 50px;
        margin-top: 30px;

        .container,
        .container2,
        .container3,
        .container4,
        .container5,
        .container6 {
            display: flex;
            border-bottom: 1px solid #ccc;
        }
    }
    
    .Recruitment .line {
        width: 5px;
        height: 100%;
        background: #ff6f61;
        margin-right: 15px;
    }
    
    .Recruitment .text h2,
    .Recruitment .text h3 {
        margin: 0;
        padding: 10px 0;
        color: #333;
        
    }
    
    .Recruitment .text h2 {
        font-size: 1.8em;
        border-bottom: 2px solid #ff6f61;
        margin: 30px 0;
    }
    
    .Recruitment .text h3 {
        font-size: 1.4em;
        padding: 15px;
        
    }
    
    .title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
    }
    
    /* 버튼 스타일 */
    .button {
        display: flex;
        width: 15%;
        padding: 20px;
        margin: 40px 10px;
        font-size: 1.2em;
        color: #fff;
        background-color: #ff6f61;
        border: none;
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s ease;
        text-overflow: ellipsis;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    /* 버튼에 마우스를 올렸을 때의 스타일 */
    .button:hover {
        background-color: #e55b50;
    }
}


