/* SearchResult.css */

.SearchResult-compo {
    width: 87%;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SearchResult-compo .searchResultContainer {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.SearchResult-compo .searchResultTitle {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.SearchResult-compo .boardFilter {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.SearchResult-compo table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.SearchResult-compo tbody tr {
    border-top: 1px solid #ccc;
    background-color: #fafafa;
}

.SearchResult-compo .searchResultItem:hover {
    background-color: #f1f1f1;
}

.SearchResult-compo td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    border: none;
}

.SearchResult-compo .searchResultLink {
    text-decoration: none;
    color: #007bff;
}

.SearchResult-compo .searchResultLink:hover {
    text-decoration: underline;
}
