.FacilityGuide-compo .FacilityGuide-compo2 {
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}

.FacilityGuide-compo ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-bottom: 20px;
}

.FacilityGuide-compo li {
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.FacilityGuide-compo li.active {
    background-color: #e9e9e9;
}

.FacilityGuide-compo .facility-display {
    display: flex;
    align-items: flex-start;
}

.FacilityGuide-compo .main-image {
    width: 70%;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 20px;
}

.FacilityGuide-compo .thumbnails {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.FacilityGuide-compo .thumbnail-image {
    width: 100px;
    height: auto;
    cursor: pointer;
    border: 1px solid #ccc;
}

.FacilityGuide-compo .facility-description {
    clear: both;
    padding-top: 10px;
    white-space: pre-line;
}

.FacilityGuide-compo .tabMenu{
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 13px;
}

.FacilityGuide-compo .h2center {
    display: flex;
    padding-top: 100px;
    justify-content: center;
}

.FacilityGuide-compo .ptag{
    display: flex;
    justify-content: center;
}

.FacilityGuide-compo .facility-text {
    width: 2.778rem;
    height: 2.778rem;
    background: #2F2C87;
    border-radius: 100%;
    text-align: center;
    font-size: 1.811rem;
    font-weight: 700;
    letter-spacing: 0;
    color: white;
}