.SideBanner-compo {
    width: 250px; /* 슬라이더의 너비를 조정하세요 */
    height: 230px;
    border: 5px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    left: 15px;
}

/* 슬라이더 화살표 스타일 */
.SideBanner-compo .arrow {
    position: absolute; /* 이전/다음 화살표의 절대 위치 설정 */
    top: 50%; /* 슬라이더 컨테이너 상단에서의 위치를 조정 */
    transform: translateY(-50%); /* 수직 가운데 정렬을 위한 위치 조정 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능함을 나타냄 */
    font-size: 2rem; /* 화살표 아이콘 크기 */
    z-index: 1; /* 다른 내용 위에 화살표가 나타나도록 설정 */
}

.SideBanner-compo .prev {
    left: 0;
}

.SideBanner-compo .next {
    right: 0;
}

.SideBanner-compo path {
    color: #fff;
}

.SideBanner-compo svg {
    background-color: #0000007e;
    border-radius: 12px;
}


/* 슬라이드 이미지 스타일 */
.SideBanner-compo .slick-slide img {
    width: 100%;
    position: relative;
    min-height: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 30px;
    
}

.SideBanner-compo .slick-slide .content-box {
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    transform: translate(0%, -800%);
    text-shadow: 2px -2px 8px #000000, -2px 2px 8px #000000;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    width: 250px;
}
