.CorpInfo-compo {
    width: 100%;

    .pageTitle {
        text-align: center;
    }

    .pageInfo {
        display: flex;
        justify-content: center;
    }

    .corpContainer {
        background-color: #a3deef;
        width: 80%;
        height: 100%;
        border-radius: 0 0 15px 15px;

        .corpHeader {
            display: flex;
            justify-content: space-around;

            div {
                display: flex;
                justify-content: center;
                font-weight: bold;
                margin: 2%;
            }
        }
    }

    .corpContent {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 2%;

        .corpInfo {
            width: 60%;
            margin: 0 10%;
        }
    }

    .corpImgContainer {
        display: grid;
        align-self: center;
    }

    .corpImg {
        min-height: 100px;
        min-width: 100px;

        max-height: 300px;
        max-width: 300px;
    }

    .corpInfoTitle {
        display: flex;
        padding: 30px;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5%;

        .corpWriter {
            display: flex;
            .writerName {
                margin: 0 5%;
                white-space: nowrap;
            }
        }

        .corpState {
            display: flex;
            .stateName {
                margin: 0 5%;
                white-space: nowrap;
            }
        }
    }

    .corpInfoContent {
        height: 100%;
        width: 100%;
    }

    .contentEdiForm {
        background-color: #ffc3c3;
    }

    .contentText {
        height: auto;
        width: auto;
        background-color: #c9d5d7;
    }

    .ifNothing {
        display: flex;
        justify-content: center;
    }
}
