.ReservDetails-compo {
    width: 87%;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

    .pageInfo {
        padding: 1% 0;
    }

    .pageTitle {
        text-align: center;
    }

    .reservImg {
        width: fit-content;
        max-width: 150px;
    }

    .reservContainer {
        border-radius: 15px;
        background: lightgrey;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;

        div {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        p {
            padding: 0 5px;
        }

        .detailHeader {
            flex-direction: column;
        }

        .detailContent {
            .RESERVE {
                color: #FF8C00;
                font-weight: bold;
                font-size: large;
            }
            .CHECK {
                color: #778899;
                font-weight: bold;
                font-size: large;
            }
            .APPROVE {
                color: #4169E1;
                font-weight: bold;
                font-size: large;
            }
            .DENY {
                color: #FF3333;
                font-weight: bold;
                font-size: large;
            }
        }
    }

    .reservContainer:hover {
        cursor: pointer;
        box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
        transform: scale(1.02);
        transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}
