.ModiInfo-compo .pageTitle {
    text-align: center;
}

.ModiInfo-compo .modiInfo {
    background-color: #a3deef;
    width: 50%;
    border-radius: 15px;
}

.ModiInfo-compo .modiInfo .modiInfoHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ModiInfo-compo .modiInfoHeader > div {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
}

.ModiInfo-compo .pageInfo {
    display: flex;
    justify-content: center;
}

.ModiInfo-compo .button {
    display: flex;
    justify-content: flex-end;
}

.ModiInfo-compo .passcheckBox {
    position: relative;
}

.ModiInfo-compo .passcheckSignal {
    width: 50px;
    height: 20px;
    background-color: #fa5a5a;
    position: absolute;
    right: -20%;
    font-size: small;
    border-radius: 30px;
    text-align: center;
}

.ModiInfo-compo .birthBox{
    position: relative;
}

.ModiInfo-compo .birthBox > img {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10%;
}