.CorpInfo-compo .pageTitle {
    text-align: center;
}

.CorpInfo-compo .pageInfo {
    display: flex;
    justify-content: center;
}

.CorpInfo-compo .corpContainer {
    background-color: #a3deef;
    width: 50%;
    border-radius: 15px;
}

.CorpInfo-compo .corpContainer .corpHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.CorpInfo-compo .corpHeader > div {
    display: flex;
    justify-content: center;
}

.CorpInfo-compo .corpContent {
    display: flex;
    justify-content: space-around;
}

.CorpInfo-compo .corpImgContainer {
    display: grid;
    align-self: center;
}

.CorpInfo-compo .corpImg {
    height: 100px;
    width: 100px;
}

.CorpInfo-compo .corpInfoTitle {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.CorpInfo-compo .corpInfoContent {
    height: 300px;
    width: 300px;
}

.CorpInfo-compo .contentEdiForm {
    background-color: #ffc3c3;
}

.CorpInfo-compo .contentText {
    height: auto;
    width: auto;
    background-color: #c9d5d7;
}

.CorpInfo-compo .ifNothing {
    display: flex;
    justify-content: center;
}