.wayToCome {
    width: 87%;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;

    .wayToComeContainer {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .wayToComeTitle {
            
            padding: 30px;
            margin: 30px 0;
            display: flex;
            justify-content: center;
        }

        .locationMapContainer {
            width: 95%;
            margin: 0 10%;
        }

        .routeContainer {
            width: 95%;
            position: relative;
            display: flex;
            justify-content: space-between;
            margin: 5%;

            .routeName {
                width: 30%;

                .divisionLine {
                    hr {
                        width: 100%;
                    }

                    .linePoint {
                        background-color: #3636ff;
                        width: 50px;
                        height: 4px;
                        position: absolute;
                        top: 6px;
                        left: 0;
                    }
                }

                .routeType {
                    display: flex;
                    align-items: flex-end;
                }
            }

            .routeDetail {
                width: 65%;

                .routeDetailContents {
                    display: flex;
                    align-items: start;
                    flex-direction: column;
                    width: 100%;

                    .busRoute {
                        width: 100%;
                        font-size: inherit;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        margin: 0;

                        > img {
                            height: 30px;
                        }

                        > h3 {
                            width: 20%;
                            padding: 0 10px;
                        }

                        > h5 {
                            width: 100%;
                            font-size: 18px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }

        @media (max-width: 1410px) {
            .routeContainer {
                display: inline-block;
                margin: 0 5%;

                .routeName {
                    width: 100%;
                }

                .routeDetail {
                    width: 100%;

                    hr {
                        display: none;
                    }

                    .routeDetailContents {
                        display: inline-block;
                    }
                }
            }
        }
    }
}