.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    /*background-color: #DCDCDC;*/
    background-color: rgba( 255, 255, 255, 0.5 );
    display: flex;
    align-items: flex-start;
}

.menu-item {
    /*display: inline-block;*/
    /*position: relative;*/
    /*margin-left: 51px;*/
    margin: 0 30px;
}

.menu-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.submenu {
    /*display: none; !* 기본적으로 숨김 *!*/
    /*position: absolute;*/
    /*top: calc(100% + 10px); !* 부모 요소인 .menu-container의 아래에 위치하도록 설정 *!*/
    /*left: 0;*/
    /*background-color: #fff;*/
    padding: 1px;
    /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);*/
    border-radius: 5px;
}

/*.submenu-item {*/
/*    !*margin-bottom: 5px;*!*/
/*    !*background-color: white;*!*/
/*    !*!*margin: 5px;*!    이거 절대 넣지 마셈 메뉴 마우스 호버시에 메뉴 일렁거림*!*/
/*}*/

/*.menu-container:hover .submenu.show {*/
/*    !*display: block; !* .menu-container에 마우스를 올렸을 때 .submenu.show 클래스가 있는 경우에만 submenu 표시 *!*!*/
/*    !*color: black;*!*/
/*    !*background-color: black;*!*/
/*}*/

ul {
    list-style: none;
    padding: 0;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
    /*background-color: gray;*/
    background-color: rgba( 255, 255, 255, 0.5 );
}

.logo {
    width: 100px;
    height: auto;
}

.login {
    width: 50px;
    height: auto;
}

header{
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
}

body {
    padding-top: 75px;
    /* 생략 */
}
