.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #DCDCDC;
}

.menu-item {
    display: inline-block;
    position: relative;
    margin-left: 51px;

}

.menu-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    border-radius: 5px; /* 모서리 둥글게 */

}

.submenu-item {
    margin-bottom: 5px;
    background-color: white;

}


.menu-item:hover .submenu {
    display: block;
}

.submenu.show {
    display: block;
    color: black;
    background-color: black;
}


ul{
    list-style:none;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 로고와 로그인 이미지를 수직 중앙 정렬 */
    padding: 0 20px; /* 로고와 로그인 이미지 사이의 여백 조절 */
    background-color: gray;
}

.logo {
    width: 100px;
    height: auto;
}

.login {
    width: 50px;
    height: auto;
}
