@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

.MainHomepage-compo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    

    .bottom-banner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 90%;
        margin-bottom: 5%;
    }
}
