.NewsPicture-compo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5%;

    .content {
        text-align: right;
        width: 100%;
        aspect-ratio: 1 / 0.8;
        
        
        .slick-slider {
            width: 100%;
            height: fit-content;


            div {
                width: 100%;
                height: 100%;
            }
        }
    }
    
    .shape {
        
        width: 100%;
        display: flex;
        flex-direction: column;
        
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 1000;
        align-items: stretch;
        justify-content: space-evenly;

        h2, h3, h4, p {
            padding-left: 50px;
            padding-right: 30px;
            margin: 0;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        }

        h2 {
            color: blue;
            font-size: 2em;
        }

        h4 {
            color: orangered;
        }

        h3, h4 {
            font-size: 1.5em;
        }

        p {
            font-size: 1.2em;
        }

        @media (max-width: 1200px) {
            h2 {
                font-size: 1.5em;
            }

            h3, h4 {
                font-size: 1em;
            }
    
            p {
                font-size: 0.8em;
            }
        }

        @media (max-width: 800px) {
            h2 {
                font-size: 1.2em;
            }

            h3, h4 {
                font-size: 0.8em;
            }
    
            p {
                font-size: 0.6em;
            }
        }

        
    }

    .back-box {
        border: 1px solid #ccc;
        border-radius: 30px;
    }

    .slide {
        background-color: #e4ffe3;
        border: 1px solid #ccc;
        border-radius: 30px;
        
        width: 100%;
        
        
        display: flex;
        
    }

    .slick-initialized .slick-slide {
        
        aspect-ratio: 1 / 0.8;
        display: flex;
    }

    .slick-prev:before, .slick-next:before {
        color: black;
        
    }

}