.Notice-compo {
  display: flex;
  flex-direction: column;
  width: 100%;

  .news{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .background{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #000;
    width: 95%;
    height: 200px;
  }

  .title{
    margin-left:30px;
  }

  .write{
    display: flex;
    flex-direction: row;
  }


  .content{
    background: white;
    width: 95%;
    height: 150px;
  }
}




