.orgChart {
    width: 87%;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;


    .orgChartContainer {
        animation: fadeInUp 1s ease-out;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .orgChartTitle {
            padding-top: 30px;
            margin: 30px 0;
            display: flex;
            justify-content: center;
            
        }

        .personContainer {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: space-between;
            margin: 4% 0;

            .orgChartName {
                width: 30%;

                .divisionLine {
                    hr {
                        width: 100%;
                    }

                    .linePoint {
                        background-color: #3636ff;
                        width: 50px;
                        height: 4px;
                        position: absolute;
                        top: 6px;
                        left: 0;
                    }
                }

                .personName {
                    display: flex;
                    align-items: flex-end;

                    .orgPosition {
                        font-size: medium;
                        font-weight: normal;
                        padding: 0 10px;
                    }
                }
            }

            .orgChartDetail {
                width: 60%;
            }

            .chartDetailContents {
                
                display: flex;
                justify-content: space-between;

                .number {
                    font-size: inherit;
                    font-weight: bold;
                    padding-left: 30px;

                    img {
                        height: 15px;
                    }
                    a {
                        text-decoration-line: none;
                    }
                }
            }
        }

        @media (max-width: 1310px) {
            .personContainer {
                display: inline-block;
                margin: 0 5%;

                .orgChartName {
                    width: 100%;
                }

                .orgChartDetail {
                    width: 100%;

                    hr {
                        display: none;
                    }

                    .chartDetailContents {
                        display: inline-block;
                    }
                }
            }
        }
    }
}