.MyHome-compo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3% 5%;
    align-items: center;

    .detailsContainer {
        margin: 5% 20%;

        .reservDetailTitle {
            margin: 5% 0;
        }

        .reservDetails {
            display: flex;
            justify-content: space-between;
        }
    }

    .profileModify {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .profileModify .userDelete {
        position: absolute;
        right: 5%;
        top: 0;
    }

    .container {
        .profileImg{
            height: 10%;
            width: 10%;
        }

        .profile {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .profile .profileInfo {
            display: flex;
            align-items: center;

            div {
                margin: 0 10px;
                font-weight: bold;
            }
        }
    }
}