.outter {
    display: flex;
    flex-direction: row;
}
.sidebox{
    display:flex;
    flex-direction: column;
}
.Myhome-compo{
    width:100%;
    padding:0 100px;
}

.MyHome-compo .container {
    display: flex;
    justify-content: center;
}

.MyHome-compo .profile {
    font-size: large;
    padding: 10px;
    display: table;
}

.MyHome-compo .profileImg {
    width: 200px;
    display: table-cell;
}

.MyHome-compo .profileInfo {
    padding: 10px 20px;
    vertical-align: middle;
    display: table-cell;
}

.MyHome-compo .profileInfo > div {
    padding: 10px 20px;
    vertical-align: middle;
    display: table-cell;
}

.MyHome-compo .profileInfo > div > div {
    padding: 10px;
}

.MyHome-compo .profileModify {
    text-align: center;
}

.MyHome-compo .infoText {
    vertical-align: middle;
    display: table-cell;
    width: 300px;
}

.MyHome-compo .reservDetails {
    display: flex;
    justify-content: space-between;
}

