.ConsultantForm-compo {
    background: #f4f4f4;
    padding: 20px;
    width: 350px;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.ConsultantForm-compo form {
    display: flex;
    flex-direction: column;
}

.ConsultantForm-compo h2 {
    background: #000;
    color: #fff;
    padding: 10px;
    margin: -20px -20px 20px -20px;
}

.ConsultantForm-compo label {
    margin-bottom: 10px;
}

.ConsultantForm-compo label input[type="text"],
.ConsultantForm-compo label input[type="number"],
.ConsultantForm-compo label input[type="date"],
.ConsultantForm-compo label input[type="datetime-local"],
.ConsultantForm-compo label textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
}

.ConsultantForm-compo label input[type="radio"] {
    margin-right: 5px;
}

.ConsultantForm-compo button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.ConsultantForm-compo button:hover {
    background: #45a049;
}

.ConsultantForm-compo input[type="file"] {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.ConsultantForm-compo textarea {
    height: 80px;
}

.ConsultantForm-compo .business {
    margin-top: 100px;
}