.Footer-compo {
    display: flex;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    
    .list{
        margin-right: 30px
    }
    
    .list ul{
        text-align: right;
        list-style: none;
        display:flex; /*가로로 정렬*/
    }
    
    .list ul li{
        margin: 20px;
    }
    
    .left-box {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .right-box {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .related-sites button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 20px; /* 수정된 버튼 사이즈 */
        cursor: pointer;
        margin-right: 100px;/*오른쪽 끝 사이 간격 조정*/
    }

    #ft_copy{
        margin: 0 20px;
        text-wrap: nowrap;
        font-weight: 600;
    }

    .ft-info ul{
        list-style: none;
        padding-left: 20px;
        text-wrap: nowrap;
        font-weight: 600;
    }

    a {
        text-decoration: none;
        color: #0058b6;
        font-weight: bold;
    }

    .dropdown-menu{
        position: absolute;
        margin: 0px;
        width: 200px;
        transform: translate(-130px, -450px);
        background-color:rgba(255, 255, 255, 0.829);
        border-radius: 5px;
    }
    .dropdown-menu li{
        margin: 10px 0;
    }
    
    @media (max-width: 1000px) {

        .list {
            display: none;
        }

        .related-sites button {
            margin: 20px 30px;
        }
    }
}

/* .fixed {
    position: fixed;
    bottom: 0;
} */