.JobConsult-compo {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 81.4%;
    padding: 0;
    margin: 100px auto;
    
    h2 {
        margin-top: 15px;
        text-align: center;
    }

    .form-box {
        width: 100%;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .form-container {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        
    }
    
    form {
        display: flex;
        flex-direction: column;
        
    }
    
    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: bold;
        min-width: 55px;
    }

    label input[type="radio"] {
        width: 15px;
    }

    .other-box {
        width: fit-content;
    }

    .category-in,
    .industry-box,
    .date-box {
        display: flex;
        flex-direction: row;
        padding: 5px;
        margin: 5px;
    }

    .category-in div,
    .industry-box div,
    .date-box div {
        display: flex;
        flex-direction: row;
        margin-left: 5px;
        justify-content: center;
    }

    .category-in div label,
    .industry-box div label,
    .date-box div label {
        margin: 0;
        padding: 0;
        text-wrap: nowrap;
        justify-content: center;
    }

    .category-box,
    .educate-box,
    .cereer-box,
    .license-box,
    .language-box,
    .etc-box,
    .introduce-box {
        padding: 15px;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border: 1px solid #7a7a7a79;
        border-radius: 8px;
        width: 96.4%;
    }

    td {
        text-align: center;
        align-items: center;
        border: none;
        padding: 5px;
    }

    input,
    select {
        width: 90%;
        padding: 8px;
        margin: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .other-box input {
        padding: 0;
        margin: 0;
        width: 95%;
        height: 100%;
    }


    .remove-btn {
        min-width: 65px;
        padding: 10px 20px;
        background-color: rgb(236, 54, 54);
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .add-btn {
        width: 30%;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .remove-btn:hover {
        background-color: #9b0000;
    }
    
    .add-btn:hover {
        background-color: #0056b3;
    }

    .btn {
        width: 50%;
        height: 50px;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #0056b3;
    }

    .add-box {
        display: flex;
        justify-content: center;
    }

    .btn-box {
        margin-top: 30px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
    }

    textarea {
        width: 99.2%;
        min-width: 99.2%;
        height: 50px;
    }
}
